<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTzVEjTnS0YoOemYDx_TvpQtOUKXbJQLM</string>
	<key>GCM_SENDER_ID</key>
	<string>551280075774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thuymai.myRecipe.myRecipe</string>
	<key>PROJECT_ID</key>
	<string>myrecipe-7ebf6</string>
	<key>STORAGE_BUCKET</key>
	<string>myrecipe-7ebf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551280075774:ios:da734cc8d60c2c33ae96af</string>
</dict>
</plist>